# Set text files to use LF (Unix-style) line endings
* text=auto

# Force the README.md file to always use LF line endings
README.md text eol=lf

# Force all shell scripts to use LF line endings
*.sh text eol=lf

# Force all Windows batch files to use CRLF line endings
*.bat text eol=crlf
